/*chapter 4*/

* {
	font-family: sans-serif;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}



#body-header::first-letter {
	font-size: 200%;
}

#home-page-pumpkin {
	float:left;
}

header {
	text-indent:2em;
}

#main-header {
	text-shadow: 2px 2px #000000;
	font-style: italic;
	color: #FF6600;
}

a:link {
	color: #FF6600;
	font-weight: bold;
}

a:visited {
	color:blue;
	font-weight: bold;
}

a:hover {
	color:green;
}

a:focus {
	color:green;
}

ul li {
	padding: 5px;
}

footer {
	font-size:60%;
	text-align:center;
}