/*chapter 5*/

* {
	font-family: sans-serif;
}

body {
	
	width: 800px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 10px 10px 10px 10px black;
	margin: auto;
	margin-bottom: 200em;
}

header {
	text-indent:2em;
	padding: 1em;
	background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	
}

#welcome-message::first-letter {
	font-size: 200%;
	padding: auto;
}

section {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding: 2em;
}

section p {
	margin-top:	3%;
	margin-bottom:	3%;
}

footer {
	font-size:80%;
	text-align:center;
	padding: 1em;
	background-image: -webkit-linear-gradient(45deg, black 0%, orange 75%, white 100%);

}

	

#page {
	background-image: url(../images/bats.gif);
	

}

h1 {
	font-size: 250%;
	padding-top: inherit;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}



section h2:first-of-type::first-letter {
	font-size: 200%;
}

header img {
	float:left;
}


header h1, h2 {
	margin-top: -2%;
	margin-bottom: -2%;
}

/*header h1 {
	text-shadow: 2px 2px #000000;
	font-style: italic;
	color: #FF6600;
}*/

a:link {
	color: #FF6600;
	font-weight: bold;
}

a:visited {
	color:blue;
	font-weight: bold;
}

a:hover {
	color:green;
}

a:focus {
	color:green;
}

ul li {
	padding: 5px;
}

