/*chapter 10*/

* {
	font-family: sans-serif;
}

html {
	background-image: url(../images/bats.gif);
}

body {
	max-width: 960px;
	width: 95%;
	background-color: white;
	border: 2px solid black;
	box-shadow: 5px 5px 5px 5px black;
	margin: auto;
	margin-bottom: 200em;
}



header {
	text-indent:2em;
	padding: 1em;
	
	background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	border-bottom: 2px solid black;
	padding-bottom: 0;	
}

.responsive {
	max-width: 16%;
	height: auto;


}

#main {
	padding-top: 2em;
	padding-right: 2em;
    padding-bottom: 2em;

}



/* -----------------------------------Nav Menu-------------------------------*/

#menu {
	background-color: black;
	padding-top: 0;
	
}

#menu ul {
	padding: 0em;
	margin: 0;
}

#menu .active {
	color: orange;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu > ul > li {
	display:inline-block;
	margin:0;
	position:relative;
	padding: .5em 2em;
}

#menu > ul > li > ul {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0em;
	list-style-type: none;
	text-align: center;
	top: 2em;
}

#menu > ul > li > ul > li {
	padding: 1em 2em;
}







#menu li:hover > ul {
	display:block;
	background-color: black;
}

#menu li:hover {
	background-color: gray;
}




/* -----------------------------------Side Menu-------------------------------*/





#side-menu  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#side-menu li {
	border: 1px solid black;
	background-color: orange;
	margin: .2em;
}

#side-menu a {
	color: black;
	text-decoration: none;
}

#side-menu li:hover {
	background-color: gray;
}

#side-menu li a {
	display: block;
	margin: 0;
	padding: 0;
}


/* -----------------------------------Table-------------------------------*/


figcaption {
    text-align: center;
}

th.left, td.left { text-align: left;}

th.right, td.right { text-align: right;}


.center {
    width: 70%;
    margin: auto;
}

td:last-child {
    background-color: #F5DEB3;
}

.top {
    vertical-align: top;
}

td {
    padding: 0.5em 0em;
    font-weight: bold;
}

th {
    color: gray;
    font-weight: bold; 
}




footer {
	font-size:80%;
	text-align:center;
	padding: 1em;
	background-image: -webkit-linear-gradient(45deg, black 0%, orange 75%, white 100%);
	border-top: 2px solid black;
}



h1 {
	font-size: 250%;
	padding-top: inherit;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

header img {
	float:left;
	min-width: 40px;
}

header h1, h2 {
	margin-top: -2%;
	margin-bottom: -2%;
}

#welcome-message::first-letter {
	font-size: 200%;
	padding: auto;
}

#product-of-the-week img {
	padding: 2%;
}



a:link {
	color: #FF6600;
	font-weight: bold;
}

a:visited {
	color:blue;
	font-weight: bold;
}

a:hover {
	color:green;
}

a:focus {
	color:green;
}

ul li {
	padding: 5px;
}







/* -----------------------------------Grid Info-------------------------------*/


#header { 
	grid-area: header;

}
#menu { 
	grid-area: nav;

}
#side-menu { 
	grid-area: side;
    min-width: 90px;
    width: 100%;
	padding-top: 2em;

}
#main { 
    grid-area: main;
    justify-content: center;

}
#footer { 
	grid-area: footer;

}


.grid-container {
	display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 1fr 4fr;
	grid-template-areas: 
	'header header  '
	'nav nav  '
	'side main  '
	'footer footer  '
}


/* -----------------------------------Media Queries-------------------------------*/


.slicknav_menu {
	display:none;
}

@media screen and (max-width: 800px) {
	body {
		font-size: 90%;
		box-shadow: none;
	}

	#page {
		background-image: none;
	}

	.grid-container {
		grid-template-areas: 
		'header header'
		'nav nav'
		'main main'
		'side side'
		'footer footer'
	}

	#main {
		margin-left: 2em;
	}

	#side-menu {
		width: 20%;
		margin: auto;
	}
	
}


@media screen and (max-width: 767px) {
	body {
		font-size: 90%;
		box-shadow: none;
	}

	#page {
		background-image: none;
	}

	.grid-container {
		grid-template-areas: 
		'header header'
		'nav nav'
		'main main'
		'side side'
		'footer footer'
	}

	#main {
		margin-left: 2em;
	}

	#side-menu {
		width: 20%;
		margin: auto;
	}

	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}

@media screen and (max-width: 479px) {
	body {
		font-size: 90%;
		box-shadow: none;
	}

	#header { 
		font-size: 80%;
	}

	#welcome-message {
		font-size: 80%;
	}

	#page {
		background-image: none;
	}

	.grid-container {
		grid-template-areas: 
		'header header'
		'nav nav'
		'main main'
		'side side'
		'footer footer'
	}

	#main {
		margin-left: 2em;
	}

	#side-menu {
		width: 20%;
		margin: auto;
	}

	#menu {
		display:none;
	}
	
	.slicknav_menu {
		display:block;
	}
}
