/*chapter 7*/

* {
	font-family: sans-serif;
}

body {
	width: 800px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 10px 10px 10px 10px black;
	margin: auto;
	margin-bottom: 200em;
}

header {
	text-indent:2em;
	padding: 1em;
	
	background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	border-bottom: 2px solid black;
	padding-bottom: 0px;	
}

#main {
	padding-top: 2em;
	padding-right: 2em;
	margin-left: 20%;

}




#menu {
	background-color: black;
	padding-top: 0px;
	
}

#menu ul {
	padding: 0em;
	margin: 0;
}

#menu .active {
	color: orange;
}

#menu a {
	color: white;
	text-decoration: none;
}

#menu > ul > li {
	display:inline-block;
	margin:0;
	position:relative;
	padding: .5em 2em;
}

#menu > ul > li > ul {
	display: none;
	position: absolute;
	margin: 0;
	padding: 0em;
	list-style-type: none;
	text-align: center;
	top: 2em;
}

#menu > ul > li > ul > li {
	padding: 1em 2em;
}







#menu li:hover > ul {
	display:block;
	background-color: black;
}

#menu li:hover {
	background-color: gray;
}



#side-menu {
	padding-top: 2em;
	float: left;
	
}

#side-menu  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#side-menu li {
	border: 1px solid black;
	background-color: orange;
	margin: 2px;
}

#side-menu a {
	color: black;
	text-decoration: none;
}

#side-menu li:hover {
	background-color: gray;
}

#side-menu li a {
	display: block;
	margin: 0;
	padding: 0;
}


section p {
	margin-top:	3%;
	margin-bottom:	3%;
}

footer {
	font-size:80%;
	text-align:center;
	padding: 1em;
	background-image: -webkit-linear-gradient(45deg, black 0%, orange 75%, white 100%);
	border-top: 2px solid black;
}

#page {
	background-image: url(../images/bats.gif);
}

h1 {
	font-size: 250%;
	padding-top: inherit;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

header img {
	float:left;
}

header h1, h2 {
	margin-top: -2%;
	margin-bottom: -2%;
}

#welcome-message::first-letter {
	font-size: 200%;
	padding: auto;
}

#product-of-the-week img {
	padding: 2%;
}

#guarantee {
	
}

a:link {
	color: #FF6600;
	font-weight: bold;
}

a:visited {
	color:blue;
	font-weight: bold;
}

a:hover {
	color:green;
}

a:focus {
	color:green;
}

ul li {
	padding: 5px;
}

